#cabeza{
	background-color: #2c1f43;
	color:whitesmoke;
	padding: 20px;
}

.flex{
	display: flex;
}
#cabeza.flex{
	justify-content:flex-end;
	align-items: center;
}
#cabeza img{
	width: 70px;
	margin-right: auto;
	margin-left: 200px;
}
 #cabeza a{
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: whitesmoke;
	margin-right: 40px;
}
.btn{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid whitesmoke;
	background-color:#2B1E66;
	color:whitesmoke;
	text-align: center;
	padding: 10px;
}
#parteblanca{
	background-color:#2c1f43;
	justify-content: flex-start;
	flex-direction: row-reverse;
}
.parte2{
	width:100%;
	background-color: whitesmoke;
	justify-content: flex-end;
	flex-direction: column;
	padding: 40px;
	padding-right: 50px;
}
.letra1{
	color:#352384;
	font-weight: 500;
	font-size: 35px;
	line-height: 33.5px;
}
.letra2{
	color:#76278f;
	font-weight: 500;
	line-height: 0px;
}
input{
	background-color: whitesmoke;
}
a.boton1{
	font-size: 15px;
	background-color:#FF00BF;
	color: whitesmoke;
}
a.boton2{
	font-size: 15px;
	color:#728099;
	padding-left: 30px;
}
.letra3{
	color:#728099;
	font-size: 10px;

}
#medio1{
	background-color:#76278f;
	flex-direction: row;
}
.columna{
	padding-left:100px;
}
.fotito{
	justify-content:flex-end;
}
.fotito img{
	width: 50%;
	align-self: stretch;

}
h2{
	color: whitesmoke;
	font-weight: 500;
	line-height: 0px;
	padding-top: 50px;
}
p{
	color: whitesmoke;
	font-size: 400;
	font-size: 12px;
	line-height: 20px;
}
h1{
	padding-top:20px;
	color:whitesmoke;
	line-height: 0px;
}



